body {
    font-family: Arial, sans-serif;
    background-image: url(img.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10;
}
.img{
    display: flex;
    justify-content: center;
    height: 82px;
}
.checkbox{
    display: flex;
    align-items: baseline;
}
 .checkbox input{
    width: 20px !important;
    margin-right: 10px !important;
    padding: 0;
    
}
.register-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    width: 300px;
}
 .register-container h1{
    text-align: center;
    margin-bottom: 20px;
}
.register-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.register-container button {
    width: 100%;
    padding: 10px;
    background-color: black;

    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.register-container button:hover {
    background-color: #45a049;
} 